<!doctype html>
<html>
<head>
    <title>Hello AngularJS</title>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <link href="css/xeditable.min.css" rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
          display: none !important;
        }
    </style>
</head>

<body ng-app="todoapp">

    <div class="container" ng-controller="TaskController">
        <table class="table table-bordered table-hover table-condensed"  ng-init="list()">
            <tr style="font-weight: bold">
                <td style="width:35%">Task</td>
                <td style="width:35%">Status</td>
            </tr>

            <tr ng-repeat="task in tasks">
                <td>
                    <span editable-text="task.name" e-name="name"
                          e-form="rowform" e-required
                          onbeforesave="checkData($data)">
                      {{ task.name || 'empty' }}
                    </span>
                </td>
                <td>
                    <span editable-select="task.taskStatus" e-name="taskStatus" e-form="rowform" e-ng-options="s as s for s in statuses"
                          ng-model = "task.taskStatus"
                          onbeforesave="checkData($data)">
                      {{ showStatus(task) }}
                    </span>
                </td>
                <td style="white-space: nowrap">
                    <form editable-form name="rowform" onbeforesave="saveTask($data, task.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == task">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="removeTask(task, $index)">del</button>
                    </div>
                </td>
            </tr>
        </table>

        <button class="btn btn-default" ng-click="addTask()">Add Task</button>
    </div>


    <script src="js/angular/angular.min.1.5.6.js"></script>
    <script src="js/angular/angular-route.min.1.4.6.js"></script>
    <script src="js/xeditable/xeditable.min.js"></script>
    <script src="js/app.js"></script>


</body>

</html>